<a href="https://colab.research.google.com/github/Bren-Campana/DSA--58010/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [2]:
import array
array.typecodes #get all typecodes
a = array.array('i', [1,2,3,4,5,6]) #initializing array a
b = array.array('f', [1.5,2.5,3.5,4.5,5.5,6.5]) #initializing array b
a.typecode #getting the typecode of a
b.typecode #getting the typecode of b

'f'

Example 2: Create/Convert the elements of array A to float/decimal number

In [3]:
A = array.array('f',[1,2,3,4,5,6]) #initializing array A
print(A)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

Example 3

In [5]:
from array import array  #importing array from array module 
a = array ('i',[4,5,6,7]) #initializing array
a.insert(1,2) #inserting elements: 2 at index:1
a #Printing array a
array('i', [4,2,5,6,7])
a.insert(-1,0) #insert element: 0 at index: -1
a
a.insert(10,-1) #insert element: -1 at index: 10, this is out of range 
a
array('i', [4,2,5,6,0,7,-1])

array('i', [4, 2, 5, 6, 0, 7, -1])

In [9]:
import array 
a = array.array('i',[4,5,6,7]) #initializing array a 
b = array.array('i',[1,2,3]) #initializing array b
a.insert(1,2) #inserting elements: 2 at index:1
print(a)
a.insert(-1,0) #insert element: 0 at index: -1
print(a)
a.insert(6,8) #insert element: 8 at index: 6, this is out of range
print(a)  #append the last element of the array

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])

Linked List

In [14]:
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self,second):
    self.head = None   #initialize head as null
 
  def printlist(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next
      

list = LinkedList() #empty list
list.head = Node(1)
second = Node(2)
third = Node(3)
fourth = Node(4)

list.head.next =second
second.next = third
third.next = fourth

list.printlist()

1
2
3
4